.black-blue {
    background: -webkit-linear-gradient(black, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.blue-black {
    background: -webkit-linear-gradient(blue, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.black-red {
    background: -webkit-linear-gradient(black, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.red-black {
    background: -webkit-linear-gradient(red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-file {
    /*background-color: #EEE;
    text-align: center;
    border-radius: 3px;*/
    min-height: 30px;
    line-height: 30px;
    margin-left: 40px;
}

